[submodule "dumptruck"]
	path = dieselfuel
	url = git@github.com:tlevine/dieselfuel.git
[submodule "highwall"]
	path = dumptruck
	url = git@github.com:tlevine/dumptruck.git
[submodule "bucketwheel"]
	path = bucketwheel
	url = git@github.com:tlevine/bucket-wheel.git
[submodule "dblist"]
	path = dblist
	url = git@github.com:tlevine/dblist.git
